In [1]:
import pandas as pd

In [14]:
foods = pd.read_csv('generic-food.csv')

foods.head()

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
0,Angelica,Angelica keiskei,Herbs and Spices,Herbs
1,Savoy cabbage,Brassica oleracea var. sabauda,Vegetables,Cabbages
2,Silver linden,Tilia argentea,Herbs and Spices,Herbs
3,Kiwi,Actinidia chinensis,Fruits,Tropical fruits
4,Allium (Onion),Allium,Vegetables,Onion-family vegetables

In [19]:
foods['GROUP'].value_counts()

GROUP
Aquatic foods                  166
Vegetables                     130
Fruits                         130
Herbs and Spices               108
Dishes                          51
Cereals and cereal products     48
Animal foods                    44
Baking goods                    33
Beverages                       30
Confectioneries                 29
Nuts                            27
Pulses                          26
Milk and milk products          23
Gourds                          17
Soy                              9
Cocoa and cocoa products         8
Snack foods                      8
Fats and oils                    8
Coffee and coffee products       5
Teas                             3
Eggs                             1
Baby foods                       1
Unclassified                     1
Herbs and spices                 1
Name: count, dtype: int64

In [27]:
foods.groupby(['GROUP'])['FOOD NAME']